{% extends 'base.html.twig' %}

{% block title %} séminaires{% endblock %}

{% block body %}
    <h1>Téléchargement des séminaires</h1>
    <p>Voici les téléchargement disponibles.</p>
{% endblock %}
