{% extends 'base.html.twig' %}

{% block title %}Séminaires - Plateforme Séminaires{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>{{ title }}</h1>
        <p>Bienvenue sur la page de télechargement.</p>
    </div>
{% endblock %}