{% extends 'base.html.twig' %}

{% block title %}Nouvelle demande{% endblock %}

{% block body %}
<main class="container mt-4">
    <h2>Soumettre une nouvelle demande de séminaire</h2>
    <p>Contenu à venir...</p>
</main>
{% endblock %}
